@import url(//fonts.googleapis.com/earlyaccess/hanna.css);



body{
    font-family: 'Hanna', sans-serif;
}

h4{
    font-family: 'Hanna', sans-serif;
}

h6{
    font-family: 'Hanna', sans-serif;
}

h6 .mb-1{
    font-family: 'Hanna', sans-serif;
}