<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="com.spring.model.UserDTO" alias="UserDTO"/>
        <typeAlias type="com.spring.model.BookDTO" alias="BookDto"/>
        <typeAlias type="com.spring.model.CategoryDTO" alias="CategoryDto" />
    </typeAliases>

</configuration>