<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="com.spring.model.UserDTO" alias="UserDTO"/>
        <typeAlias type="com.spring.model.BasketDTO" alias="BasketDTO"/>
        <typeAlias type="com.spring.model.BookDTO" alias="BookDto"/>
        <typeAlias type="com.spring.model.PageDTO" alias="PageDto" />
        <typeAlias type="com.spring.model.CategoryDTO" alias="CategoryDto" />
        <typeAlias type="com.spring.model.WishDTO" alias="WishDTO"/>
        <typeAlias type="com.spring.model.OrderDTO" alias="OrderDTO"/>
    </typeAliases>

</configuration>